@model IEnumerable<Bai3_LTWeb.Models.tbl_Department>
@{
    ViewBag.Title = "Danh sách phòng ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>DANH SÁCH PHÒNG BAN</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light border-end" style="min-height: 100vh;">
            <div class="list-group">
                @foreach (var dept in Model)
                {
                    <a href="@Url.Action("ShowEmplParameter", "Home", new { id = dept.DepId })"
                       class="list-group-item list-group-item-action">
                        @dept.Name
                    </a>
                }
            </div>
        </div>
    </div>
</div>
