@{
    ViewBag.Title = "Home Page";
}

<main class="container text-center mt-5">
    <h1 class="display-4 fw-bold text-primary mb-4">Chào mừng đến với hệ thống Quản lý Sách</h1>
    <p class="lead text-muted mb-5">
        Đây là trang quản lý sách.
        Bạn có thể xem danh mục sách, thêm sách, hoặc xem chi tiết sách.
    </p>

    <a href="@Url.Action("DanhMucSach", "Home")" class="btn btn-primary btn-lg">
        Xem danh sách sách
    </a>
</main>